.p15{
  padding-right: 15px;
}

.link {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
  line-height: 24px;
  font-size: 13px;
}
.link:hover {
  opacity: .85;
  text-decoration: underline;
}

.apps {
  background-image: url('https://ssl.gstatic.com/gb/images/i1_1967ca6a.png');
  background-position-x: -132px;
  background-position-y: -38px;
  opacity: .55;
  height: 30px;
  width: 30px;
  display: inline-block;
  vertical-align: middle;
  color: #000;
}
.apps:hover {
  opacity: .85;
}

.account {
  background-image: url(https://lh3.googleusercontent.com/-84OFCmmuyq0/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3rcyiMbx2JplxCl0Mx84Og1diwF1eQ.CMID/s32-c/photo.jpg);
  margin: -1px;
  width: 32px;
  height: 32px;
  border-radius: 50%; 
  background-size: 32px 32px;
  vertical-align: middle;
}

.nav {
  float: right;
  display: flex; 
  min-width: 181px;
  padding-left: 30px; 
  padding-right: 22px; 
  width: 181.594px; 
  height: 30px; 
  align-items: center;
  top: 8px;
  position: relative;
}

body, p, a {
  font-family: arial,sans-serif;
  color: #222;
}
